<img class="hangman" src="/images/man<%= @remaining_guesses %>.png" alt="hangman">


<div class="guessing_space">
  <p class="secret"><%= display_secret_word(@secret_word) %></p>
</div>

<% @remaining_alphabets.each do |letter| %>
<form class="letter" action="/game" method="post">
  <button name="letter_guess" type="submit" value="<%= letter %>"><%= letter %></button>
</form>
<% end  %>
