<h2>Welcome to Ainaa's Hangman Game!</h2>
<p>The wordbank was hand picked by me from what I think are words that are frequently used by students in Launch School.</p>

<a class="btn" href="/game">Play</a>

