<html lang="en-US">
  <head>
    <title>Hangman App</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="/application.css">
    <link rel="icon" type="image/ico" href="/images/favicon.ico">
  </head>
  <body>
    <header>
      <% if session[:message] %>
        <div class="message">
          <p><%= session.delete(:message) %></p>
        <div>
      <% end %>
    </header>

    <main>
      <h1>Hangman Game</h1>
      <%= yield %>
    </main>
  </body>
</html>
